/*place global styles here */
html,
body {
	@apply h-full;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

:root {
  --color-red: #d4163c;
  --color-orange: #d44f16;
  --color-yellow: #d4ae16;
  --color-green: #3cd416;
  --color-blue: #163cd4;
  --color-purple: #ae16d4;
}